# Import json, pandas

In [30]:
import json
import pandas as pd

# load data from file and get country, project details

In [17]:
# load the json data into python variable

with open('data/world_bank_projects.json') as f:
    data = json.load(f)
    
# from json array , look for only country and project, and add it to a set of arrays

country, project = [], []
for item in data:
    country.append(item['countryshortname'])
    project.append(item['project_name'])

# convert set of arrays into pandas dataframe

In [ ]:
# convert the set of arrays into pandas dataset
df = pd.DataFrame([country, project]).T

# add headers to the dataframe
df.columns = [
  'country',
  'project'
]

# get countries with major project with groupby and nlargest methods

In [33]:


# using group by, find the number of projects done in each country
df1 = df.groupby(['country']).size().reset_index(name='project_counts')

#print the top 20 countries with major projects
df1.nlargest(20, 'project_counts')

                              country  project_counts
23                              China              19
45                          Indonesia              19
112                           Vietnam              17
44                              India              16
115                Yemen, Republic of              13
8                          Bangladesh              12
69                            Morocco              12
73                              Nepal              12
1                              Africa              11
70                         Mozambique              11
14                             Brazil               9
15                       Burkina Faso               9
78                           Pakistan               9
6                             Armenia               8
98                         Tajikistan               8
99                           Tanzania               8
47                             Jordan               7
52                    Kyrgyz Republic               7
53   Lao People's Democratic Republic               7
76                            Nigeria               7